 

 body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
 }

 .flip {
    padding: 25px;
    background-color: orangered;
 }
 .flip:hover{
    animation: flip 1s linear;
 }
 @keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
 }